@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Routing
@inject IHttpContextAccessor ContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - PlutoNetCoreTemplate.Mvc</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="~/fonts/googlesourcescanpro/fonts.css">
    <link rel="stylesheet" href="~/lib/adminlte/plugins/fontawesome-free/css/all.min.css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lib/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/lib/adminlte/dist/css/adminlte.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>

<!--dark : hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed-->
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

 


    <div class="wrapper">

        <!-- main-header navbar navbar-expand navbar-white navbar-light -->
        <!-- main-header navbar navbar-expand navbar-dark -->
        <vc:navbar class-name="main-header navbar navbar-expand navbar-dark"></vc:navbar>
        <vc:sidebar></vc:sidebar>

        @{
            var routeDat = ContextAccessor.HttpContext?.GetRouteData()?.Values;
        }


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @if (routeDat != null)
            {
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-left">
                                    <li class="breadcrumb-item"><a href="#">@routeDat["controller"]</a></li>
                                    <li class="breadcrumb-item active">@routeDat["action"]</li>
                                </ol>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
            }


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                @ViewData["CurrentMenu"]
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>


    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/lib/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- jQuery Mapael -->
    <script src="~/lib/adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/lib/adminlte/plugins/raphael/raphael.min.js"></script>
    <script src="~/lib/adminlte/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/lib/adminlte/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/adminlte/dist/js/adminlte.min.js"></script>

    <script src="~/js/site.js"></script>

    @if (ViewData["CurrentMenu"] != null)
    {
        <script type="text/javascript">document.getElementById("@ViewData["CurrentMenu"]").classList.add("active");</script>
    }
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
